<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="bot.js" verb="*" modules="iisnode"/>
    </handlers>

    <rewrite>
      <rules>
        <rule name="Nodejs">
          <match url=".*" />
          <action type="Rewrite" url="bot.js" />
        </rule>
      </rules>
    </rewrite>

    <iisnode watchedFiles="*.js;web.config" />

    <httpErrors errorMode="Detailed" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
