<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="bot.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Nodejs">
          <match url=".*" />
          <action type="Rewrite" url="bot.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode watchedFiles="web.config;*.js" />
  </system.webServer>
</configuration>
